In [128]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data16 = './data/turnstile/201605'
data17 = './data/turnstile/201705'
datatypes = {'C/A':'object', 
             'UNIT':'object',
             'SCP':'object',
             'STATION':'object',
             'LINENAME':'object',
             'DIVISION':'object',
             'DATE':'object',
             'TIME':'object',
             'DESC':'object',
             'ENTRIES':'int64',
             'EXITS':'int64'}

In [3]:
def concat_data(datadir):
    frames = []
    txts = [os.path.join(datadir, f) for f in os.listdir(datadir)]
    for txt in txts:
        df = pd.read_csv(txt, sep=',', dtype=datatypes)
        df['DATETIME'] = df['DATE'] + ' ' + df['TIME']
        df['DATETIME'] = pd.to_datetime(df['DATETIME'])
        df.columns = [x.lower().strip() for x in df.columns]
        frames.append(df)
        
    resdf = pd.concat(frames, ignore_index=True) # throw away the original indices when concatenating
    return resdf

In [4]:
df16 = concat_data(data16)

In [5]:
df17 = concat_data(data17)

In [142]:
len(df16)

777903

In [139]:
len(df17)

785089

In [140]:
# drop duplicates (see: www.jbencina.com/blog/2015/06/25/cleaning-nyc-turnstile-usage-data/)
df16 = df16.drop_duplicates(subset=['unit', 'scp', 'datetime'])
df17 = df17.drop_duplicates(subset=['unit', 'scp', 'datetime'])

In [141]:
len(df17)

785087

In [147]:
# Also drop suspiciously low entries or exits or values not on the 4th hour.
df16 = df16[(df16['entries']>10000) & (df16['exits']>10000)]
df17 = df17[(df17['entries']>10000) & (df17['exits']>10000)]

In [148]:
len(df16)

698779

In [149]:
len(df17)

698779

In [6]:
df16.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983,2016-04-30 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993,2016-04-30 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024,2016-04-30 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134,2016-04-30 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197,2016-04-30 16:00:00

In [167]:
df16[df16['station']=='GRD CNTRL-42 ST']

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime
148097,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,01:00:00,REGULAR,321993,806628,2016-04-30 01:00:00
148098,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,05:00:00,REGULAR,321995,806635,2016-04-30 05:00:00
148099,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,09:00:00,REGULAR,322022,806810,2016-04-30 09:00:00
148100,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,13:00:00,REGULAR,322138,807335,2016-04-30 13:00:00
148101,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,17:00:00,REGULAR,322351,807965,2016-04-30 17:00:00
148102,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,21:00:00,REGULAR,322539,808537,2016-04-30 21:00:00
148103,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,01:00:00,REGULAR,322600,808783,2016-05-01 01:00:00
148104,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,05:00:00,REGULAR,322602,808784,2016-05-01 05:00:00
148105,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,09:00:00,REGULAR,322623,808891,2016-05-01 09:00:00
148106,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,13:00:00,REGULAR,322686,809394,2016-05-01 13:00:00
148107,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,17:00:00,REGULAR,322816,809929,2016-05-01 17:00:00
148108,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2016,21:00:00,REGULAR,322924,810338,2016-05-01 21:00:00
148109,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,01:00:00,REGULAR,322977,810478,2016-05-02 01:00:00
148110,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,05:00:00,REGULAR,322979,810481,2016-05-02 05:00:00
148111,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,09:00:00,REGULAR,322995,812430,2016-05-02 09:00:00
148112,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,13:00:00,REGULAR,323217,814078,2016-05-02 13:00:00
148113,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,17:00:00,REGULAR,323435,815029,2016-05-02 17:00:00
148114,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/02/2016,21:00:00,REGULAR,323839,816334,2016-05-02 21:00:00
148115,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,01:00:00,REGULAR,323983,816472,2016-05-03 01:00:00
148116,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,05:00:00,REGULAR,323987,816484,2016-05-03 05:00:00
148117,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,09:00:00,REGULAR,324053,818742,2016-05-03 09:00:00
148118,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,13:00:00,REGULAR,324309,820519,2016-05-03 13:00:00
148119,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,17:00:00,REGULAR,324857,821541,2016-05-03 17:00:00
148120,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2016,21:00:00,REGULAR,325257,822928,2016-05-03 21:00:00
148121,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,01:00:00,REGULAR,325433,823088,2016-05-04 01:00:00
148122,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,05:00:00,REGULAR,325437,823095,2016-05-04 05:00:00
148123,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,09:00:00,REGULAR,325448,825123,2016-05-04 09:00:00
148124,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,13:00:00,REGULAR,325694,826760,2016-05-04 13:00:00
148125,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,17:00:00,REGULAR,326300,827920,2016-05-04 17:00:00
148126,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2016,21:00:00,REGULAR,326958,829549,2016-05-04 21:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
733898,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,01:00:00,REGULAR,856278225,50372862,2016-05-23 01:00:00
733899,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,05:00:00,REGULAR,856278225,50372863,2016-05-23 05:00:00
733900,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,09:00:00,REGULAR,856278327,50372893,2016-05-23 09:00:00
733901,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,13:00:00,REGULAR,856278403,50372912,2016-05-23 13:00:00
733902,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,17:00:00,REGULAR,856278584,50372924,2016-05-23 17:00:00
733903,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/23/2016,21:00:00,REGULAR,856279428,50372936,2016-05-23 21:00:00
733904,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,01:00:00,REGULAR,856279443,50372940,2016-05-24 01:00:00
733905,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,05:00:00,REGULAR,856279444,50372940,2016-05-24 05:00:00
733906,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,09:00:00,REGULAR,856279577,50372971,2016-05-24 09:00:00
733907,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,13:00:00,REGULAR,856279689,50372982,2016-05-24 13:00:00
733908,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,17:00:00,REGULAR,856279931,50372993,2016-05-24 17:00:00
733909,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/24/2016,21:00:00,REGULAR,856280825,50373008,2016-05-24 21:00:00
733910,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,01:00:00,REGULAR,856280843,50373008,2016-05-25 01:00:00
733911,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,05:00:00,REGULAR,856280843,50373008,2016-05-25 05:00:00
733912,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,09:00:00,REGULAR,856280970,50373028,2016-05-25 09:00:00
733913,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,13:00:00,REGULAR,856281051,50373049,2016-05-25 13:00:00
733914,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,17:00:00,REGULAR,856281262,50373055,2016-05-25 17:00:00
733915,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2016,21:00:00,REGULAR,856282023,50373068,2016-05-25 21:00:00
733916,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,01:00:00,REGULAR,856282058,50373070,2016-05-26 01:00:00
733917,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,05:00:00,REGULAR,856282058,50373070,2016-05-26 05:00:00
733918,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,09:00:00,REGULAR,856282153,50373091,2016-05-26 09:00:00
733919,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,13:00:00,REGULAR,856282244,50373107,2016-05-26 13:00:00
733920,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,17:00:00,REGULAR,856282460,50373112,2016-05-26 17:00:00
733921,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/26/2016,21:00:00,REGULAR,856283218,50373124,2016-05-26 21:00:00
733922,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,01:00:00,REGULAR,856283246,50373126,2016-05-27 01:00:00
733923,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,05:00:00,REGULAR,856283247,50373126,2016-05-27 05:00:00
733924,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,09:00:00,REGULAR,856283316,50373143,2016-05-27 09:00:00
733925,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,13:00:00,REGULAR,856283396,50373158,2016-05-27 13:00:00
733926,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,17:00:00,REGULAR,856283784,50373170,2016-05-27 17:00:00
733927,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,21:00:00,REGULAR,856284036,50373173,2016-05-27 21:00:00

In [7]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777938 entries, 0 to 777937
Data columns (total 12 columns):
c/a         777938 non-null object
unit        777938 non-null object
scp         777938 non-null object
station     777938 non-null object
linename    777938 non-null object
division    777938 non-null object
date        777938 non-null object
time        777938 non-null object
desc        777938 non-null object
entries     777938 non-null int64
exits       777938 non-null int64
datetime    777938 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 71.2+ MB

In [8]:
df17.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315,2017-04-29 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319,2017-04-29 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353,2017-04-29 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453,2017-04-29 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529,2017-04-29 16:00:00

In [9]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785089 entries, 0 to 785088
Data columns (total 12 columns):
c/a         785089 non-null object
unit        785089 non-null object
scp         785089 non-null object
station     785089 non-null object
linename    785089 non-null object
division    785089 non-null object
date        785089 non-null object
time        785089 non-null object
desc        785089 non-null object
entries     785089 non-null int64
exits       785089 non-null int64
datetime    785089 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 71.9+ MB

In [10]:
df16.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'datetime'],
      dtype='object')

In [151]:
df16.groupby(['station','linename'])[["entries", "exits"]].sum().sort_values(by=['entries', 'exits'], ascending=False)

                                   entries          exits
station         linename
42 ST-PORT AUTH ACENQRS1237  1297581449562  1060105329948
57 ST-7 AV      NQR          1238021517150  1074078621210
TIMES SQ-42 ST  1237ACENQRS   993969061064   779875240289
GRD CNTRL-42 ST 4567S         744709015088   146795161001
CANAL ST        JNQRZ6        648819317822   464853116818
125 ST          23            626658006510   390685329886
34 ST-HERALD SQ BDFMNQR       563480365520   596749602738
FULTON ST       ACJZ2345      546001314810   352031990885
23 ST           FM            530529867750   556425643066
                6             524971518434   456699877380
BROOKLYN BRIDGE 456JZ         499010814911   299743848953
FLATBUSH AV-B.C 25            497541641272   364516933918
72 ST           123           476866675765   489507228965
CORTLANDT ST    R             468272216744   165237934111
CHAMBERS ST     123           371119392072   302139129317
59 ST COLUMBUS  ABCD1         369753978327   288872237107
125 ST          456           357443334813   153323393579
47-50 STS ROCK  BDFM          350871757818   346422819687
3 AV-149 ST     25            349480895571   223645611165
104 ST          JZ            342288021783   106287230623
34 ST-PENN STA  123ACE        337193280290   214477138425
161/YANKEE STAD BD4           334815801865   220288751239
163 ST-AMSTERDM C             330908490931   113516972790
42 ST-BRYANT PK BDFM7         327514416444   239707227312
CHRISTOPHER ST  1             323280512059   124722078026
BOWLING GREEN   45            323051950522   294404953104
7 AV            BDE           319676080337   138738812555
104 ST          A             306465700114   425831253572
167 ST          BD            305109270410   147158221167
183 ST          4             300882851488   313822195278
...                                    ...            ...
BEACH 90 ST     AS               881618376      940157153
14TH STREET     1                869668918       79004626
PELHAM PKWY     5                855249410     1001511099
E 143/ST MARY'S 6                797060712      917859014
BUSHWICK AV     L                789267816      720020657
AQUEDUCT N.COND A                788091251      943536491
ROCKAWAY PARK B AS               776193444     1888595948
CENTRAL AV      M                776091510      900280841
BUHRE AV        6                773894232      378322833
AVENUE H        BQ               756309759      509877302
25 AV           D                752179438      243646785
BEACH 98 ST     AS               742242054      808814867
BEACH 36 ST     A                681139239      671734095
TWENTY THIRD ST 1                589264605      306956844
GATES AV        JZ               542390579      208111688
9TH STREET      1                498614884      397348182
34 ST-HUDSON YD 7                466294395      371080112
RIT-MANHATTAN   R                464592590        5263711
HARRISON        1                449909644      609792798
BEACH 44 ST     A                428774647      553903983
LACKAWANNA      1                379354148      568368167
NEWARK HW BMEBE 1                349498935       24198711
BROAD CHANNEL   AS               307804923      105581711
ATLANTIC AV     L                306403491      128148929
NEWARK C        1                270844284       42847503
BEACH 105 ST    AS               201204611      282884322
JFK JAMAICA CT1 E                 99314302       96710424
NEWARK HM HE    1                 97142434     1681783853
ORCHARD BEACH   6                 62032497        3431166
PATH WTC 2      1                 43748614      485041840

[470 rows x 2 columns]

In [12]:
df16.groupby(['station'])['datetime'].max()

station
1 AV              2016-05-27 20:00:00
103 ST            2016-05-27 21:00:00
103 ST-CORONA     2016-05-27 20:00:00
104 ST            2016-05-27 20:00:00
110 ST            2016-05-27 20:00:00
111 ST            2016-05-27 21:00:00
116 ST            2016-05-27 21:00:00
116 ST-COLUMBIA   2016-05-27 21:00:00
121 ST            2016-05-27 20:00:00
125 ST            2016-05-27 21:00:00
135 ST            2016-05-27 21:00:00
137 ST CITY COL   2016-05-27 21:00:00
138/GRAND CONC    2016-05-27 20:00:00
14 ST             2016-05-27 21:00:00
14 ST-UNION SQ    2016-05-27 21:00:00
145 ST            2016-05-27 20:00:00
149/GRAND CONC    2016-05-27 20:00:00
14TH STREET       2016-05-27 23:59:33
15 ST-PROSPECT    2016-05-27 20:30:00
155 ST            2016-05-27 21:00:00
157 ST            2016-05-27 21:00:00
161/YANKEE STAD   2016-05-27 20:22:00
163 ST-AMSTERDM   2016-05-27 21:00:00
167 ST            2016-05-27 20:00:00
168 ST            2016-05-27 20:00:00
169 ST            2016-05-27 20:00:00
170 ST            2016-05-27 21:00:00
174 ST            2016-05-27 21:00:00
174-175 STS       2016-05-27 20:00:00
175 ST            2016-05-27 20:00:00
                          ...
SUTPHIN BLVD      2016-05-27 21:00:00
SUTPHIN-ARCHER    2016-05-27 20:00:00
SUTTER AV         2016-05-27 21:00:00
SUTTER AV-RUTLD   2016-05-27 20:00:00
THIRTY ST         2016-05-27 23:57:13
THIRTY THIRD ST   2016-05-27 23:37:19
TIMES SQ-42 ST    2016-05-27 20:00:00
TOMPKINSVILLE     2016-05-27 22:00:00
TREMONT AV        2016-05-27 21:00:00
TWENTY THIRD ST   2016-05-27 23:00:51
UNION ST          2016-05-27 20:00:00
UTICA AV          2016-05-27 21:00:00
V.CORTLANDT PK    2016-05-27 20:00:00
VAN SICLEN AV     2016-05-27 21:00:00
VAN SICLEN AVE    2016-05-27 21:00:00
VERNON-JACKSON    2016-05-27 20:00:00
W 4 ST-WASH SQ    2016-05-27 21:00:00
W 8 ST-AQUARIUM   2016-05-27 20:00:00
WAKEFIELD/241     2016-05-27 21:00:00
WALL ST           2016-05-27 22:00:00
WEST FARMS SQ     2016-05-27 21:00:00
WESTCHESTER SQ    2016-05-27 20:00:00
WHITEHALL S-FRY   2016-05-27 21:00:00
WHITLOCK AV       2016-05-27 20:00:00
WINTHROP ST       2016-05-27 21:00:00
WOODHAVEN BLVD    2016-05-27 21:00:00
WOODLAWN          2016-05-27 20:00:00
WORLD TRADE CTR   2016-05-27 20:00:00
YORK ST           2016-05-27 21:00:00
ZEREGA AV         2016-05-27 21:00:00
Name: datetime, Length: 371, dtype: datetime64[ns]

In [152]:
df16_min = df16.loc[df16.groupby(['station', 'linename', 'division'])['datetime'].idxmin()]

In [153]:
df16_min.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime
29818,H007,R248,00-00-00,1 AV,L,BMT,04/30/2016,00:00:00,REGULAR,11020304,12018000,2016-04-30 00:00:00
135210,R170,R191,00-00-00,103 ST,1,IRT,04/30/2016,01:00:00,REGULAR,12592318,4496078,2016-04-30 01:00:00
155402,R252,R180,00-00-00,103 ST,6,IRT,04/30/2016,01:00:00,REGULAR,33822764,503630608,2016-04-30 01:00:00
45389,N037,R314,00-00-00,103 ST,BC,IND,04/30/2016,01:00:00,REGULAR,11851043,10101965,2016-04-30 01:00:00
178918,R529,R208,00-00-00,103 ST-CORONA,7,IRT,04/30/2016,00:00:00,REGULAR,13778232,21798134,2016-04-30 00:00:00

In [154]:
df16_max = df16.loc[df16.groupby(['station', 'linename', 'division'])['datetime'].idxmax()]

In [166]:
df16_max[df16_max['station']=='GRD CNTRL-42 ST']

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime,stationlinediv
731211,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/27/2016,21:00:00,REGULAR,347011,933521,2016-05-27 21:00:00,GRD CNTRL-42 ST-4567S-IRT

In [165]:
df16_min[df16_min['station']=='GRD CNTRL-42 ST']

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime,stationlinediv
148601,R237,R046,01-00-00,GRD CNTRL-42 ST,4567S,IRT,04/30/2016,00:00:00,REGULAR,1057788,3274938,2016-04-30,GRD CNTRL-42 ST-4567S-IRT

In [157]:
len(df16_min)

476

In [158]:
len(df16_max)

476

In [159]:
df16_max['stationlinediv'] = df16_max['station'] + '-' + df16_max['linename'] + '-' + df16_max['division']

In [160]:
df16_min['stationlinediv'] = df16_min['station'] + '-' + df16_min['linename'] + '-' + df16_min['division']

In [161]:
df16_max.shape

(476, 13)

In [171]:
# calculate difference for each station in each month
def calculate_monthly(df_min, df_max):
    stationlinedivs = df_min['stationlinediv'].unique()
    table = []
    headers = ['station', 'linename','division', 'month_entry_total', 'month_exit_total']
    for stationlinediv in stationlinedivs:
        station = df_max.loc[df_max['stationlinediv']==stationlinediv, 'station'].iloc[0]
        linename = df_max.loc[df_max['stationlinediv']==stationlinediv, 'linename'].iloc[0]
        division = df_max.loc[df_max['stationlinediv']==stationlinediv, 'division'].iloc[0]
        entry_max = df_max.loc[df_max['stationlinediv']==stationlinediv, 'entries'].iloc[0]
        entry_min = df_min.loc[df_min['stationlinediv']==stationlinediv, 'entries'].iloc[0]
        exit_max = df_max.loc[df_max['stationlinediv']==stationlinediv, 'exits'].iloc[0]
        exit_min = df_min.loc[df_min['stationlinediv']==stationlinediv, 'exits'].iloc[0]
        # evidently an absolute calculation gives us a more approximate sense where there
        # are turnstile errors in counting (resets, "time traveling turnstiles")
        month_entry = abs(entry_max-entry_min)
        month_exit = abs(exit_max-exit_min)
        
        table.append([station, linename, division, month_entry, month_exit])
    diff_df = pd.DataFrame(table, columns=headers)
    return diff_df

In [169]:
df16_diff = calculate_monthly(df16_min, df16_max)

In [170]:
df16_diff.sort_values(by=['month_entry_total', 'month_exit_total'], ascending=False)

,station,linename,division,month_entry_total,month_exit_total
306,FULTON ST,ACJZ2345,IND,7259506,4143438
104,42 ST-PORT AUTH,ACENQRS1237,IND,6070261,33949622
176,ATL AV-BARCLAY,BDNQR2345,BMT,5706210,12080456
303,FULTON ST,2345ACJZ,IND,2598881,4316267
167,9TH STREET,1,PTH,1672765,1479241
407,PATH WTC,1,PTH,1390661,487061
452,TWENTY THIRD ST,1,PTH,1265757,47219
473,WORLD TRADE CTR,ACE23,IND,1073927,12542
323,HARRISON,1,PTH,1048603,539330
315,GRD CNTRL-42 ST,4567S,IRT,710777,2341417
292,FORDHAM RD,BD,IND,706216,189730
51,176 ST,4,IRT,591451,129911
391,NEWARK HW BMEBE,1,PTH,455734,60441
388,NEWARK BM BW,1,PTH,359309,9717
247,CHRISTOPHER ST,1,PTH,320932,169135
447,THIRTY THIRD ST,1,PTH,253328,77033
356,LACKAWANNA,1,PTH,232519,158509
317,GROVE STREET,1,PTH,216214,457362
342,JKSN HT-ROOSVLT,EFMR7,IND,184846,133465
409,PAVONIA/NEWPORT,1,PTH,178625,404810
251,CITY / BUS,1,PTH,168744,22240
27,14 ST-UNION SQ,456LNQR,IRT,160332,77470
404,PARKCHESTER,6,IRT,130325,6053
90,34 ST-HERALD SQ,BDFMNQR,BMT,121876,58519
86,3 AV-149 ST,25,IRT,121376,11995
0,1 AV,L,BMT,112791,120493
149,8 AV,ACEL,BMT,111513,90203
134,68ST-HUNTER CO,6,IRT,110535,53079
445,SUTTER AV-RUTLD,3,IRT,110295,20549
71,23 ST,1,IRT,106893,36663
...,...,...,...,...,...
382,NEPTUNE AV,F,IND,5193,4953
203,BEACH 98 ST,AS,IND,5033,3237
262,COURT SQ,EMG,IND,5007,25215
43,168 ST,1AC,IRT,4706,85190
439,ST. GEORGE,1,SRT,4447,0
390,NEWARK HM HE,1,PTH,4317,2548491
357,LAFAYETTE AV,C,IND,4183,4716
177,ATL AV-BARCLAY,BDNQR2345,IRT,4082,1196
468,WHITLOCK AV,6,IRT,3613,20457
199,BEACH 44 ST,A,IND,3601,8688
87,30 AV,NQ,BMT,3587,62794
461,W 8 ST-AQUARIUM,FQ,BMT,3351,18196
196,BEACH 105 ST,AS,IND,3339,1454
450,TOMPKINSVILLE,1,SRT,3328,0
223,BROADWAY,NQ,BMT,3170,45158
313,GRAND-NEWTOWN,MR,IND,3050,36623
220,BROAD CHANNEL,AS,IND,2360,1802
327,HOWARD BCH JFK,A,IND,2181,11206
95,34 ST-PENN STA,ACE,IND,1946,5475
143,75 AV,EF,IND,1686,596
257,CLINTON-WASH AV,G,IND,1425,6016
92,34 ST-HUDSON YD,7,IRT,814,9944
64,20 AV,N,BMT,754,100
138,7 AV,FG,IND,638,1255
435,SOUTH FERRY,1R,IRT,515,22952
9,111 ST,A,IND,4,0
400,ORCHARD BEACH,6,IND,3,3
421,RECTOR ST,1,IRT,1,2
333,INWOOD-207 ST,A,IND,0,1
44,168 ST,AC1,IND,0,0

In [173]:
df17_min = df17.loc[df17.groupby(['station', 'linename', 'division'])['datetime'].idxmin()]

In [174]:
df17_max = df17.loc[df17.groupby(['station', 'linename', 'division'])['datetime'].idxmax()]

In [175]:
df17_min['stationlinediv'] = df17_min['station'] + '-' + df17_min['linename'] + '-' + df17_min['division']

In [176]:
df17_max['stationlinediv'] = df17_max['station'] + '-' + df17_max['linename'] + '-' + df17_max['division']

In [177]:
df17_diff = calculate_monthly(df17_min, df17_max)

In [178]:
df17_diff.sort_values(by=['month_entry_total', 'month_exit_total'], ascending=False)

,station,linename,division,month_entry_total,month_exit_total
73,23 ST,CE,IND,102439453,1359248134
448,SUTTER AV,L,BMT,11753905,15777686
267,CRESCENT ST,JZ,BMT,7868497,11835897
104,42 ST-PORT AUTH,ACENQRS1237W,IND,5235520,35350331
306,FULTON ST,2345ACJZ,IND,2318143,4652172
147,79 ST,1,IRT,1544275,319354
326,HARRISON,1,PTH,1296318,189645
456,TWENTY THIRD ST,1,PTH,851078,561350
449,THIRTY ST,1,PTH,789263,738965
450,THIRTY THIRD ST,1,PTH,417204,282474
358,LACKAWANNA,1,PTH,391508,187547
320,GROVE STREET,1,PTH,318558,632404
318,GRD CNTRL-42 ST,4567S,IRT,242003,856896
411,PAVONIA/NEWPORT,1,PTH,210926,229305
390,NEWARK BM BW,1,PTH,210640,16191
391,NEWARK C,1,PTH,191166,151965
346,JOURNAL SQUARE,1,PTH,186912,45613
307,FULTON ST,2345ACJZ,IRT,181913,159211
169,9TH STREET,1,PTH,181104,518029
250,CHRISTOPHER ST,1,PTH,180747,145446
27,14 ST-UNION SQ,456LNQRW,IRT,148462,65354
90,34 ST-HERALD SQ,BDFMNQRW,BMT,135764,69819
161,86 ST-2 AVE,Q,IND,133440,74160
94,34 ST-PENN STA,123ACE,IRT,123516,55349
406,PARKCHESTER,6,IRT,118336,6029
86,3 AV-149 ST,25,IRT,112070,9823
422,QUEENSBORO PLZ,7NQW,IRT,104941,47541
400,NOSTRAND AV,AC,IND,101678,25037
149,8 AV,ACEL,BMT,101462,86568
71,23 ST,1,IRT,97250,33900
...,...,...,...,...,...
43,168 ST,1AC,IRT,4691,73741
443,ST. GEORGE,1,SRT,4658,0
359,LAFAYETTE AV,C,IND,4600,5020
87,30 AV,NQW,BMT,4591,56571
206,BEACH 98 ST,AS,IND,4577,2779
446,SUTPHIN BLVD,F,IND,4233,6349
226,BROADWAY,NQW,BMT,4195,41747
194,BAY PKWY,F,IND,3963,15475
223,BROAD CHANNEL,AS,IND,3857,273
202,BEACH 44 ST,A,IND,3717,9107
472,WHITLOCK AV,6,IRT,3532,22068
179,ATL AV-BARCLAY,BDNQR2345,IRT,3448,1101
465,W 8 ST-AQUARIUM,FQ,BMT,3329,20714
454,TOMPKINSVILLE,1,SRT,3138,0
199,BEACH 105 ST,AS,IND,3112,1611
360,LEXINGTON AV/53,EM6,IND,2864,49592
316,GRAND-NEWTOWN,MR,IND,1644,32535
143,75 AV,EF,IND,1369,693
260,CLINTON-WASH AV,G,IND,1125,7520
92,34 ST-HUDSON YD,7,IRT,970,4854
64,20 AV,N,BMT,806,134
15,121 ST,JZ,BMT,529,122
137,7 AV,FG,IND,355,1402
402,ORCHARD BEACH,6,IND,8,5
42,167 ST,BD,IND,5,0
9,111 ST,A,IND,2,0
44,168 ST,AC1,IND,0,10
152,80 ST,A,IND,0,1
196,BAY RIDGE AV,R,BMT,0,1
336,INWOOD-207 ST,A,IND,0,1